APP_ENV=local
APP_DEBUG=true
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync


API_STANDARDS_TREE=x
API_SUBTYPE=laravel
API_VERSION=v1
API_NAME="My API"
API_STRICT=false
API_DOMAIN=api.laravel.local
API_DEFAULT_FORMAT=json
API_DEBUG=true